$palettes: (

  orange: (
    base:  #ed6c22,
    light: lighten(#ed6c22, 10%),
    dark:  #883b0e,
    bright: #f9cab2
  ),

  blue: (
    base:  #14c0ff,
    light: lighten(#14c0ff, 10%),
    dark:  #0083b2 
  ),

  gray: (
    base:    #9E9E9E,
    light:   #F5F5F5,
    dark:    #424242,
    body:    #777,
    heading: #333
  ),

  white: (
    base:   #FFFFFF
  ),

  black: (
    base:   #2c1203
  ),

  linkedin: (
    base:   #3070AE,
    light:  lighten(#3070AE, 7%)
  )
);


@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}
