@import './vendor/bootstrap.css';
@import 'mixins/colors';

$font-size: 16px;
$font-size-max: 36px;
$base-height: 24px;

// Media device widths
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

body, html {
  font-size: $font-size;
  line-height: $base-height;

  font-family: Helvetica Neue, Helvetica, sans-serif;
} 

p {
  margin: 0 0 $base-height;
  color: palette(gray, body);
}

h2 {
  font-size: $font-size-max;
  line-height: 1rem;
  margin: 1.5rem 0;
  font-weight: 500;
  color: palette(gray, heading);
}

.container {
  @media only screen and (min-width: $screen-md-min) {
    width: 930px;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .columns-2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: $base-height;
       -moz-column-gap: $base-height;
            column-gap: $base-height;
    min-height: initial;
  }
}

.site-header {
  background: palette(orange) url('./images/frontpage-header.jpg') no-repeat top center;
  background-size: cover;
  color: palette(white);
  -webkit-font-smoothing: antialiased;

  .site-description {
    font-size: $font-size-max;
    font-weight: 500;
    line-height: 3rem;
    padding-top: 10rem;
    padding-bottom: 2rem;
  }

  .site-title, .page-title {
    font-size: $font-size-max;
    font-weight: 200;
    padding: 0;
    padding-bottom: 0;

    margin: 0 0 0 -70px;

    a { color: palette(white); }
    span { font-weight: 600; }
  }

  h2.site-title {
    margin-left: -45px;
  }

  .hero-message h4 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  .page-title {
    margin: 2.5rem 0;
    padding: 0;
    font-weight: 500;

    span.edit-link {
      font-size: 0.5em;
    }
  }


}

// Column'd body text
.columns-2 {
  orphans: 2;
  widows: 2;
  column-gap: 2rem;
  -moz-column-gap: 2rem;
  -webkit-column-gap: 2rem;

  p {
    margin: 0;

    &:after {
      content: ' ';
      display: block;
      height: 1rem;
    }
  }
}


.site-spot {
  margin: $base-height * 2 0;
  padding: $base-height * 2 0;
  color: palette(white);
  font-weight: 100;
  letter-spacing: .025em;

  &.frontpage-spot {
    background: url('./images/frontpage-spot.jpg') no-repeat center top;
    background-size: cover;

    font-size: $font-size-max * 1.3;
    line-height: $base-height * 2.6;
  }

  .fat {
    font-weight: 500;
  }
}



.profile-teaser-container {
  padding: 0;
  margin-bottom: 2rem;
  line-height: 0;
  text-align: center;
}

a.user-profile-teaser {
  display: inline-block;
  width: 5.5rem;
  height: 5.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  list-style: none;
  margin: 0.5rem;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  .overlay {
    display: table;
    background: rgba(palette(orange), 0.8);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    > div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  h4 {
    color: palette(white);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0 0.2rem;
  }

  @media only screen and (min-width: $screen-sm-min) {
    width: 8rem;
    height: 8rem;
    margin: 1rem;

    h4 {
      font-size: 1.3rem;
      line-height: 1.5rem;
      padding: 0 0.5rem;
    }
  }

  @media only screen and (min-width: $screen-md-min) {
  }
}


.site-nav-wrapper {
  height: $base-height * 2.5;
  margin-bottom: $base-height;
}

.admin-bar .site-navigation.fixed {
  top: 32px;
}

.site-navigation {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid palette(orange, bright);
  line-height: $base-height * 2.5;
  background: rgba(palette(white), 0.95);

  &.fixed {
    position: fixed;
    z-index: 1;
  }

  ul {
    position: relative;
    left: -15px;
    height: $base-height * 2.5 - 1px;
    padding: 0 1px 0 0;
    margin: 0;
    //overflow: hidden;
    list-style-type: none;
  }

  li {
    float: left;
  }

  a {
    display: block;
    text-transform: uppercase;
    color: palette(orange);
    font-size: 1.5em;
    font-weight: 500;
    padding: 0 15px;
    margin: 0 5px -1px 0;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 0 palette(white);

    &:hover {
      text-decoration: none;
      box-shadow: inset 0 -3px palette(orange);
    }
  }

  .current-menu-item a {
    box-shadow: inset 0 -1px palette(orange);
  }
}


.photo-slide-page {
  img {
    width: 100%;
    height: auto;
  }
}


.np {
  background: transparent url('./images/np.svg') no-repeat center top;
  background-size: cover;
  margin: -50px 0 0;
  padding: 50px 0;
}

#map {
  background-color: #ed6c22;
  position: relative;
  height: 415px;
  overflow: hidden;
}

#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

#map-canvas, #map-canvas[style] {
  background-color: #ed6c22 !important;
}

#map .overlay {
  position: relative;
  z-index: 4;
}

#map .overlay, .overlay h2, .overlay p {
  color: palette(white);
}

#map .overlay h2 {
  margin-top: 80px;
  margin-left: 300px;
}

#map .overlay p {
  margin-left: 300px;
  font-size: $font-size * 1.5;
  line-height: $base-height * 1.5;
}

#footer {
  margin: 50px 0 100px;
  font-size: $font-size * 1.25;
}

#footer p {
  margin-right: 220px;
}

#footer .c {
  position: relative;
  overflow: hidden;
}

#footer strong {
  font-weight: 500;
  color: palette(gray, heading);
}

#footer p.apply {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
}

#footer p.apply a {
  background-color: palette(orange);
  color: palette(white);
  padding: 4px 15px;
  border-radius: 6px;
}

