@import './variables';

@import './vendor/bootstrap.css';
@import './mixins/colors';
@import './mixins/utils';

@import './author';
@import './single';
@import './post-summary';

@import './navbar';


body, html {
  font-size: $font-size;
  line-height: 1.5rem;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

p {
  margin: 0 0 1.5rem;
  color: palette(gray, body);
}

h2 {
  font-size: 2.25rem;
  line-height: 1em;
  margin: 1.5rem 0;
  font-weight: 500;
  color: palette(gray, heading);
}


h5 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: palette(gray);
}

.container {
  @media only screen and (min-width: $screen-md-min) {
    width: 930px;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .columns-2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
    min-height: initial;
  }
}

.site-header {
  background: palette(orange) url('./images/frontpage-header.jpg') no-repeat top center;
  background-size: cover;
  color: palette(white);
  -webkit-font-smoothing: antialiased;

  .site-description {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 3rem;
    padding-top: 10rem;
    padding-bottom: 2rem;
  }

  .site-title, .page-title {
    font-size: 2.25rem;
    font-weight: 200;
    padding: 0;
    padding-bottom: 0;

    margin: 0 0 0 -4.3px;

    a { color: palette(white); }
    span { font-weight: 600; }
  }

  .site-title img {
    width: 100%;
    max-width: 350px;
  }

  .hero-message h4 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  .page-title {
    margin: 2.5rem 0;
    padding: 0;
    font-weight: 500;

    span.edit-link {
      font-size: 0.5em;
    }
  }

  @media only screen and (max-width: $screen-xs-max) {
    .pagehead {
      margin-top: 3.75rem;
    }

    .site-description {
      font-size: 2rem;
      line-height: 2.5rem;
      padding-top: 7rem;
      padding-bottom: 2rem;
    }
  }
}

p.intro {
  font-size: 112.5%;
  line-height: 1.5em;

  strong {
    color: #555;
  }
}

// Column'd body text
.columns-2 {
  orphans: 2;
  widows: 2;
  column-gap: 2rem;
  -moz-column-gap: 2rem;
  -webkit-column-gap: 2rem;

  p {
    margin: 0;

    &:after {
      content: ' ';
      display: block;
      height: 1rem;
    }
  }
}

.site-spot {
  margin: 3rem 0;
  padding: 3rem 0;
  font-weight: 100;
  letter-spacing: .025em;

  &, p {
    color: palette(white);
  }

  &.frontpage-spot {
    background: url('./images/frontpage-spot.jpg') no-repeat center top;
    background-size: cover;

    font-size: 2.25rem;
    line-height: 1.3em;
  }

  p {
    margin: 0.75rem 0;
  }

  .fat {
    font-weight: 500;
  }

  @media only screen and (max-width: $screen-xs-max) {
    &.frontpage-spot {
      font-size: 1.5rem;
    }
  }
}

.pre-spot {
  border-bottom: 1px solid #ccc;
  margin: 0 0 3rem;
  padding: 0 0 3rem;
}

.profile-teaser-container {
  padding: 0;
  margin-bottom: 2rem;
  line-height: 0;
  text-align: center;
}

.manifesto {
  width: 100%;
}

.user-profile-teaser {
  display: inline-block;
  width: 5.5rem;
  height: 5.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  list-style: none;
  margin: 0.5rem;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    .overlay {
      opacity: 1;
    }
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(palette(orange), 0.8);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }

  h4 {
    border-radius: 50%;
    color: palette(white);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0 0.2rem;
    text-decoration: none;
  }

  @media only screen and (min-width: $screen-sm-min) {
    width: 8rem;
    height: 8rem;
    margin: 1rem;

    h4 {
      font-size: 1.3rem;
      line-height: 1.5rem;
      padding: 0 0.5rem;
    }
  }
}

@media only screen and (min-width: $screen-md-min) {
  $size: 70px / 8;
  .profile-teaser-container {
    margin: 0 -$size;
  }

  .user-profile-teaser {
    width: 10rem;
    height: 10rem;
    margin: $size;
  }
}





.photo-slide-page {
  img {
    width: 100%;
    height: auto;
  }
}



.np {
  @include sticks-area;
  margin: -50px 0 0;
  padding: 50px 0;
}

#map {
  background-color: #ed6c22;
  position: relative;
  //height: 415px;
  overflow: hidden;
}

#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

#map-canvas, #map-canvas[style] {
  background-color: #ed6c22 !important;
}

#map .overlay {
  position: relative;
  z-index: 4;

  &, h2, p {
    color: palette(white);
  }

  h2 {
    margin-top: 80px;
    margin-left: 300px;
  }

  p {
    margin-left: 300px;
    margin-bottom: 80px;
    font-size: $font-size * 1.5;
    line-height: 2.25rem;
  }
}

@media only screen and (max-width: $screen-sm-min) {
  #map .overlay {
    h2, p {
      margin-left: 0;
    }
  }
}

#footer {
  margin: 50px 0 80px;
  font-size: $font-size * 1.25;
}

#footer .c {
  position: relative;
  overflow: hidden;
}

#footer strong {
  font-weight: 500;
  color: palette(gray, heading);
}

#footer p.apply {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
}

#footer p.apply a {
  background-color: palette(orange);
  color: palette(white);
  padding: 4px 15px;
  border-radius: 6px;
}

