@import url(./vendor/bootstrap.css);
body {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto; }

p {
  margin: 0 0 24px;
  color: #424242; }

h2 {
  font-size: 34px;
  line-height: 24px;
  margin: 36px 0;
  font-weight: 500; }

@media only screen and (min-width: 992px) {
  .container {
    width: 930px; } }

@media only screen and (min-width: 768px) {
  .columns-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    min-height: initial; } }

.site-header {
  background: #ed6c22 url("./images/frontpage-header.jpg") no-repeat top center;
  background-size: cover;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased; }
  .site-header .site-description {
    font-size: 34px;
    line-height: 48px;
    padding-top: 180px;
    padding-bottom: 48px; }
  .site-header .site-title, .site-header .page-title {
    position: relative;
    font-size: 34px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    padding-bottom: 60px; }
    .site-header .site-title img, .site-header .page-title img {
      position: absolute;
      top: -12px;
      left: -60px;
      height: 48px;
      width: 48px; }
    .site-header .site-title a, .site-header .page-title a {
      color: #FFFFFF; }
    .site-header .site-title span, .site-header .page-title span {
      font-weight: 600; }
  .site-header .page-title {
    margin: 60px 0;
    padding: 0;
    font-weight: 500; }
    .site-header .page-title span.edit-link {
      font-size: 0.5em; }

.site-spot {
  margin: 48px 0;
  padding: 48px 0;
  color: #FFFFFF;
  font-weight: 100; }
  .site-spot.frontpage-spot {
    background: url("./images/frontpage-spot.jpg") no-repeat center top;
    background-size: cover;
    font-size: 44.2px;
    line-height: 62.4px; }
  .site-spot .fat {
    font-weight: 500; }

.profile-teaser-container {
  margin: 0 -3.75px;
  padding: 0;
  line-height: 0;
  text-align: center; }

.user-profile-teaser {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  list-style: none;
  margin: 3.75px;
  vertical-align: middle; }
  .user-profile-teaser a {
    display: block;
    width: 100%;
    height: 100%; }
    .user-profile-teaser a:hover .overlay {
      opacity: 1; }
  .user-profile-teaser .overlay {
    display: table;
    background: rgba(237, 108, 34, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
    .user-profile-teaser .overlay > div {
      display: table-cell;
      vertical-align: middle; }
  .user-profile-teaser h4 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14.4px;
    line-height: 20px; }

@media only screen and (min-width: 768px) {
  .profile-teaser-container {
    margin: -20px; }
  .user-profile-teaser {
    width: 150px;
    height: 150px;
    margin: 20px; }
    .user-profile-teaser h4 {
      font-size: 24px;
      line-height: 29px; } }

@media only screen and (min-width: 992px) {
  .profile-teaser-container {
    margin: -8.75px; }
  .user-profile-teaser {
    width: 160px;
    height: 160px;
    margin: 8.75px; } }

.site-navigation {
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 24px; }
  .site-navigation ul {
    position: relative;
    left: -15px;
    padding: 0;
    margin: 0; }
  .site-navigation li {
    list-style: none;
    display: inline; }
  .site-navigation a {
    display: inline-block;
    text-transform: uppercase;
    color: #ed6c22;
    font-size: 1.2em;
    line-height: 48px;
    height: 48px;
    padding: 0 15px;
    margin: 0 5px -1px 0;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    box-shadow: inset 0 0 #FFFFFF; }
    .site-navigation a:hover {
      text-decoration: none;
      box-shadow: inset 0 -3px #ed6c22; }
  .site-navigation .current-menu-item a {
    box-shadow: inset 0 -1px #ed6c22; }
