@import 'mixins/colors';
@import 'mixins/utils';
@import './variables';



.site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid palette(orange, bright);
  line-height: 3.75rem;
  background: rgba(palette(white), 0.95);
  user-select: none;


  ul {
    padding: 0 1px 0 0;
    margin: 0 -15px;
    //overflow: hidden;
    list-style-type: none;
  }

  a {
    display: block;
    text-transform: uppercase;
    color: palette(orange);
    font-size: 1.5em;
    font-weight: 500;
    padding: 0 15px;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 0 palette(white);

    &:hover {
      text-decoration: none;
    }
  }

  .burger {
    transform: rotateZ(0);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }

  &.open .burger {
    transform: rotateZ(90deg);
  }

  @media only screen and (max-width: $screen-xs-max) {
    cursor: pointer;

    .current-menu-item a, a:active {
      background-color: palette(orange);
      color: palette(white);
    }

    &.open {
      .menu {
        display: block;
      }
    }

    .mobile-menu {
      img {
        height: 23px;
        width: 23px;
      }
    }

    .menu {
      display: none;
    }
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .site-navigation {
    position: relative;
    z-index: initial;

    .mobile-menu {
      display: none;
    }

    &.fixed {
      position: fixed;
      z-index: 1;
    }

    ul {
      height: 3.75rem;
    }

    li {
      float: left;
    }

    a {
      margin: 0 5px -1px 0;

      &:hover, &:active {
        box-shadow: inset 0 -3px palette(orange);
      }
    }

    .current-menu-item a {
      box-shadow: inset 0 -1px palette(orange);
    }
  }
  .admin-bar .site-navigation.fixed {
    top: 32px;
  }

  .site-nav-wrapper {
    height: 3.75rem;
    margin-bottom: 1.5rem;
  }
}

